<button type="button"
        class="fixed-top btn btn-outline-info"
        (click)="backClicked()">Back</button>

<br><br>
<div class="container">
    <form>
        <div class="row">
            <div class="col-12">
                <label for="title">First name : </label>
                <input type="text"
                       id="title"
                       name="title">
            </div>
            <div class="col-12">
                <label for="amount">Last name : </label>
                <input type="text"
                       id="amount"
                       name="amount">
            </div>
            <div class="col-12">
                <label for="category">Email : </label>
                <input type="text"
                       id="category"
                       name="category">
            </div>
            <div class="col-12">
                <label for="imageURL">Password : </label>
                <input type="text"
                       id="imageURL"
                       name="imageURL">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-primary"
                        type="submit">Done</button>
            </div>
            <div class="col-2">
                <button class="btn btn-secondary"
                        type="button">Clear</button>
            </div>
            <div class="col-2">
                <button class="btn btn-danger"
                        type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
