<button type="button"
        class="btn"
        style="position: absolute; top: 5%;left: 5%;"
        (click)="backClicked()">Back</button>

<button type="button"
        class=" btn"
        style="position: absolute; top: 15%;left: 5%;"
        (click)="editClicked()">Edit</button>
<div class="container">
        <form (ngSubmit)='onClickDone()'
              #f='ngForm'>
                <div class="row">
                        <div class="col-6"
                             *ngIf=editMode>
                                <div class="form-group">
                                        <label for="name">Name :</label>
                                        <input type="text"
                                               id="name"
                                               [(ngModel)]="company.name"
                                               name="name">
                                </div>
                                <div class="form-group">
                                        <label for="email">Email :</label>
                                        <input type="text"
                                               id="email"
                                               [(ngModel)]="company.email"
                                               name="email">
                                </div>
                                <div class="form-group">
                                        <label for="password">Password :</label>
                                        <input type="text"
                                               id="password"
                                               [(ngModel)]="company.password"
                                               name="password">
                                </div>

                                <div class="row">
                                        <div class="col-2">
                                                <button class="btn btn-primary"
                                                        type="submit">Done</button>
                                        </div>
                                        <div class="col-2">
                                                <button class="btn btn-secondary"
                                                        type="button">Clear</button>
                                        </div>
                                        <div class="col-2">
                                                <button class="btn btn-danger"
                                                        type="button">Cancel</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </form>
</div>

<!--  Details display  -->

<div class="profile-card-4 text-center">
        <img src={{company.logoURL}}
             class="img img-responsive">
        <div class="profile-content">
                <div class="profile-name">
                </div>
                <div class="profile-description">TextTextTextTextTextText</div>
                <div class="profile-overview">
                        <p>{{company.name}}</p>
                        <p> {{company.email}}</p>
                        <p>{{company.password}}</p>
                </div>
        </div>
</div>

<!-- Error Message -->

<div *ngIf="errorMessage"
     id="container"
     style="position: absolute; top: 5%;left: 30%;">
        <div id="error-box">
                <div class="dot"></div>
                <div class="dot two"></div>
                <div class="face2">
                        <div class="eye"></div>
                        <div class="eye right"></div>
                        <div class="mouth sad"></div>
                </div>
                <div class="shadow move"></div>
                <div class="message">
                        <br>
                        <p>{{errorMessage}}
                </div>
                <button class="button-box">
                        <h1 class="red"
                            (click)=closeErrorMessage()>Close</h1>
                </button>
        </div>
</div>
