<button type="button"
        class="fixed-top btn btn-outline-info"
        (click)="backClicked()">Back</button>

<br><br>
<button type="button"
        class=" btn btn-primary"
        (click)="editClicked()">Edit</button>
<div class="container"
     *ngIf=editMode>
        <form (ngSubmit)='onClick()'
              #f='ngForm'>
                <div class="row">
                        <div class="col-12">
                                <div class="form-group">
                                        <label for="name">Name :</label>
                                        <input type="text"
                                               id="name"
                                               [(ngModel)]="company.name"
                                               name="name">
                                </div>
                                <div class="form-group">
                                        <label for="email">Email :</label>
                                        <input type="text"
                                               id="email"
                                               [(ngModel)]="company.email"
                                               name="email">
                                </div>
                                <div class="form-group">
                                        <label for="password">Password :</label>
                                        <input type="text"
                                               id="password"
                                               [(ngModel)]="company.password"
                                               name="password">
                                </div>

                        </div>
                        <br>
                        <div class="row">
                                <div class="col-2">
                                        <button class="btn btn-primary"
                                                type="submit">Done</button>
                                </div>
                                <div class="col-2">
                                        <button class="btn btn-secondary"
                                                type="button">Clear</button>
                                </div>
                                <div class="col-2">
                                        <button class="btn btn-danger"
                                                type="button">Cancel</button>
                                </div>
                        </div>
                </div>

        </form>
</div>
