<br>
<div class="container">
          <form>
                    <div class="row">
                              <div class="col-12">
                                        <label for="title">Name :</label>
                                        <input type="text"
                                               id="title"
                                               name="title">
                              </div>
                              <div class="col-12">
                                        <label for="amount">Email :</label>
                                        <input type="text"
                                               id="amount"
                                               name="amount">
                              </div>
                              <div class="col-12">
                                        <label for="category">Password :</label>
                                        <input type="text"
                                               id="category"
                                               name="category">
                              </div>
                             
                    </div>
                    <br>
                    <div class="row">
                              <div class="col-2">
                                        <button class="btn btn-primary"
                                                type="submit">Done</button>
                              </div>
                              <div class="col-2">
                                        <button class="btn btn-secondary"
                                                type="button">Clear</button>
                              </div>
                              <div class="col-2">
                                        <button class="btn btn-danger"
                                                type="button">Cancel</button>
                              </div>
                    </div>
          </form>
</div>
