<div class="wrapper fadeInDown">
       <div id="formContent">
              <!-- Login Form -->
              <form (ngSubmit) = 'onSubmit()' #f = 'ngForm'>
                     <input type="text"
                            id="email"
                            ngModel
                            class="fadeIn second"
                            name="email"
                            placeholder="Email">
                     <input type="text"
                            id="password"
                            ngModel
                            class="fadeIn third"
                            name="password"
                            placeholder="password">
                     <br><br>
                     <button type="submit"
                             class="btn btn-primary"
                             >Login</button>
                     <br><br>
              </form>
       </div>

       <button type="button"
               class="fixed-top btn btn-outline-info"
               (click)="backClicked()">Back</button>
</div>
