<div class="wrapper fadeInDown">
          <div id="formContent">
                 <!-- Login Form -->
                 <form>
                        <input type="text"
                               id="login"
                               class="fadeIn second"
                               name="login"
                               placeholder="Email">
                        <input type="text"
                               id="password"
                               class="fadeIn third"
                               name="login"
                               placeholder="password">
                        <input type="button"
                               class="fadeIn fourth"
                               value="Log In"
                               (click)='onClickLogin()'>
                 </form>
          </div>
   
          <button type="button"
                  class="fixed-top btn btn-outline-info"
                  (click)="backClicked()">Back</button>
   </div>