<br><br>
<button type="button"
        class="btn"
        style="position: relative;left: 5%;"
        (click)="backClicked()">Back</button>

<div class="wrapper fadeInDown">
       <div id="formContent">
              <!-- Login Form -->
              <form (ngSubmit)='onSubmit()'
                    #f='ngForm'>
                     <input type="text"
                            id="email"
                            ngModel
                            class="fadeIn second"
                            name="email"
                            placeholder="Email">
                     <input type="text"
                            id="password"
                            ngModel
                            class="fadeIn third"
                            name="password"
                            placeholder="password">
                     <br><br>
                     <button type="submit"
                             class="btn btn-primary">Login</button>
                     <br><br>
              </form>
       </div>
</div>
