                    
        a {
          color: #92badd;
          display:inline-block;
          text-decoration: none;
          font-weight: 400;
        }
        
        h2 {
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          display:inline-block;
          margin: 40px 8px 10px 8px; 
          color: #cccccc;
        }
        
                
        /* STRUCTURE */
        
        .wrapper {
          display: flex;
          align-items: center;
          flex-direction: column; 
          justify-content: center;
          width: 100%;
          min-height: 100%;
          padding: 20px;
        }
        
        #formContent {
          -webkit-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
          background: #fff;
          padding: 30px;
          width: 90%;
          max-width: 450px;
          position: relative;
          padding: 0px;
          -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
          box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
          text-align: center;
        }
        
                
        input[type=text] {
          background-color: #f6f6f6;
          border: none;
          color: #0d0d0d;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
          width: 85%;
          border: 2px solid #f6f6f6;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
        }
        
            
        /* ANIMATIONS */
        
        /* Simple CSS3 Fade-in-down Animation */
        .fadeInDown {
          -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        
     
        
        @keyframes fadeInDown {
          0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
          }
          100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
          }
        }
        .btn {
          background: #fff;
          color: #959595;
          border: none;
          padding: 10px 20px;
          border-radius: 3px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-decoration: none;
          outline: none;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        .btn:hover {
          color: #8b8b8b;
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        .btn.btn-link {
          background: #2196F3;
          color: #d3eafd;
        }
        .btn.btn-link:hover {
          background: #0d8aee;
          color: #deeffd;
        }
        .btn.btn-submit {
          background: #2196F3;
          color: #bce0fb;
        }
        .btn.btn-submit:hover {
          background: #0d8aee;
          color: #deeffd;
        }
        .btn.btn-cancel {
          background: #eee;
        }
        .btn.btn-cancel:hover {
          background: #e1e1e1;
          color: #8b8b8b;
        }
        
        .btn-box {
          text-align: center;
          margin: 50px 0;
        }