<div class="container">
       <form (ngSubmit)='onSubmit()'
             #f="ngForm">
              <div class="row">
                     <div class="col-12">
                            <div class="form-group">
                                   <label for="title">Title</label>
                                   <input type="text"
                                          id="title"
                                          ngModel
                                          name="title"
                                          required>
                            </div>

                            <div class="form-group">
                                   <label for="endDate">End Date</label>
                                   <input type="text"
                                          id="endDate"
                                          ngModel
                                          name="endDate">
                            </div>
                            <div class="form-group">
                                   <label for="startDate">Start Date</label>
                                   <input type="text"
                                          id="startDate"
                                          ngModel
                                          name="startDate">
                            </div>
                            <div class="form-group">
                                   <label for="price">Price</label>
                                   <input type="text"
                                          id="price"
                                          ngModel
                                          name="price">
                            </div>
                            <div class="form-group">
                                   <label for="amount">Amount</label>
                                   <input type="text"
                                          id="amount"
                                          ngModel
                                          name="amount">
                            </div>
                            <div class="form-group">
                                   <label for="category">Category</label>
                                   <input type="text"
                                          id="category"
                                          ngModel
                                          name="category">
                            </div>
                            <div class="form-group">
                                   <label for="imageURL">imageURL</label>
                                   <input type="text"
                                          id="imageURL"
                                          ngModel
                                          name="imageURL">
                            </div>
                     </div>
              </div>
              <div class="row">
                     <div class="col-2">
                            <button class="btn btn-primary"
                                    type="submit">Done</button>
                     </div>
                     <div class="col-2">
                            <button class="btn btn-secondary"
                                    type="button">Clear</button>
                     </div>
                     <div class="col-2">
                            <button class="btn btn-danger"
                                    type="button">Cancel</button>
                     </div>
              </div>
       </form>
</div>
