<button type="button"
        class="btn"
        style="position: absolute; top: 5%;left: 5%;"
        (click)="backClicked()">Back</button>

<br><br>
<br><br>
<br><br>

<div class="container">
        <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                        <button type="button"
                                class="btn"
                                (click)='sortCouponsByTitle()'>Sort By Title</button>

                        <button type="button"
                                class="btn"
                                (click)='sortCouponsByStartDate()'>Sort By Start Date</button>

                        <button type="button"
                                class="btn"
                                (click)='sortCouponsByEndDate()'>Sort By End Date</button>
                </div>
        </div>
</div>

<div class="container">
        <div class="row">
                <app-company-coupons-item *ngFor="let c of coupons; let i = index"
                                          [coupon]=c
                                          [id]=c.id
                                          style="padding: 20px;"></app-company-coupons-item>

        </div>
</div>
<br>
<br>

<!-- Error Message -->
<div *ngIf="errorMessage"
     id="container">
        <div id="error-box">
                <div class="dot"></div>
                <div class="dot two"></div>
                <div class="face2">
                        <div class="eye"></div>
                        <div class="eye right"></div>
                        <div class="mouth sad"></div>
                </div>
                <div class="shadow move"></div>
                <div class="message">
                        <br>
                        <p>{{errorMessage}}
                </div>
                <button class="button-box">
                        <h1 class="red"
                            (click)=closeErrorMessage()>Close</h1>
                </button>
        </div>
</div>
