<button type="button"
        class="fixed-top btn btn-outline-info"
        (click)="backClicked()">Back</button>

<br><br>
        <button type="button"
        class=""
        (click) = 'sortCouponsByTitle()'>Sort By Title</button>
        
        <br><br>
        <button type="button"
        class=""
        (click) = 'sortCouponsByTitle()'>Sort By Title</button>

<div class="container">
        <div class="row">
                <app-company-coupons-item *ngFor="let c of coupons; let i = index"
                                          [coupon]=c
                                          [id]=c.id
                                          style="padding: 20px;"
                                          ></app-company-coupons-item>

        </div>
</div>
