<div class="container"
     style="position: absolute; top: 30%; left: 15%;">

        <div class="row center">
                <div class="col-4 brk-btn">
                        <button type="button"
                                class="button"
                                style="height: 250px; width:300px ;"
                                (click)="onSelectUser('admin')">Admin
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>
                <div class="col-4">
                        <button type="button"
                                class="button"
                                style="height: 250px; width:300px ;"
                                (click)="onSelectUser('company')">Company
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>
                <div class="col-4">
                        <button type="button"
                                class="button"
                                style="height: 250px; width:300px ;"
                                (click)="onSelectUser('customer')">Customer
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>
        </div>
</div>
