<div class="row center">
        <div class="col-4">
                <button type="button"
                        class="btn btn btn-info"
                        style="height: 250px; width:300px ;"
                        (click)="onSelectUser('admin')">Admin</button>
        </div>
        <div class="col-4">
                <button type="button"
                        class="btn btn btn-info"
                        style="height: 250px; width:300px ;"
                        (click)="onSelectUser('company')">Company</button>
        </div>
        <div class="col-4">
                <button type="button"
                        class="btn btn btn-info"
                        style="height: 250px; width:300px ;"
                        (click)="onSelectUser('customer')">Customer</button>
        </div>
</div>
