<div class="container"
     style="position: absolute; left: 30%; top: 25%;">
        <div class="row">
                <div class="col-3 ">
                        <button style="width: 100%; height: 100%; height: 200px; width: 250px;"
                                type="button"
                                class="button"
                                (click)=onClickMyCoupons()>My Coupons
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>

                <div class="col-1"></div>
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="button"
                                [routerLink]="['shop']"
                                routerLinkActive="active-link">Coupons<h6>GET NEW COUPONS TODAY!
                                        <div class="button__horizontal"></div>
                                        <div class="button__vertical"></div>
                                </h6></button>

                </div>
        </div>
        <br><br>
        <div class="row">
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="button"
                                [routerLink]="['profile']"
                                routerLinkActive="active-link">My profile
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="button"
                                [routerLink]="['expired']"
                                routerLinkActive="active-link">About to get expired
                                <div class="button__horizontal"></div>
                                <div class="button__vertical"></div>
                        </button>
                </div>
        </div>
</div>

<div class="btn-pos">
        <button type="button"
                class="btn"
                style="position: absolute; top: 5%;left: 5%;"
                (click)="backClicked()">Back</button>
</div>

<div class="btn-pos">
        <button type="button"
                class="btn"
                style="position: absolute; top: 5%;right:5%;"
                (click)='onClickLoguot()'>Loguot</button>
</div>
