<div class="container"
     style="position: absolute; left: 30%; top: 25%;">
        <div class="row">
                <div class="col-3">
                        <button style="width: 100%; height: 100%; height: 200px; width: 250px;"
                                type="button"
                                class="btn btn-primary">My Coupons</button>
                </div>

                <div class="col-1"></div>
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="btn btn-primary">Coupons<h6>GET NEW COUPONS TODAY!</h6></button>
                        
                </div>
        </div>
        <br><br>
        <div class="row">
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="btn btn-primary">My profile</button>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                        <button style="width: 100%; height: 100%;height: 200px; width: 250px;"
                                type="button"
                                class="btn btn-primary">About to get expired</button>
                </div>
        </div>
</div>

<div class="btn-pos">
        <button type="button"
                class="btn btn-primary"
                style="position: absolute; top: 5%;left: 5%;"
                (click)="backClicked()">Back</button>
</div>

<div class="btn-pos">
        <button type="button"
                class="btn btn-primary"
                style="position: absolute; top: 5%;right:5%;"
                >Loguot</button>
</div>
