




























/* .btn-pos{
position: absolute;
padding-left: 5%;
padding-top: 2.5%;
}

.btn-1{
          position: absolute;
          padding-top: 15%;
          padding-left: 30%;
}
.btn-2{
          position: absolute;
          padding-top: 15%;
          padding-left: 50%;
}
.btn-3{
          position: absolute;
          padding-top: 30%;
          padding-left: 30%;
}
.btn-4{
          position: absolute;
          padding-top: 30%;
          padding-left: 50%;
} */